
/* Full app features */
* {
  font-family: Poppins;
}

.navbar {
  font-weight: bold;
  background: linear-gradient(to right, #f47532, white, #005030);
  border-top: 0.4px solid black;
}

/* This renders math expressions to be displayed inline with other text.
   It has a weird quality to drop down like a subscript without this. */
.MathJax_Display {
  margin: 0px !important;
}


/*--- drop down for test selection -----------------------------*/
.nav.nav-underline {
  margin-top: 5px;
}
/* background property when statistic test is selected */
.nav-underline .nav-link.active,
.nav-underline :where(ul.nav.navbar-nav > li)>a.active,
.nav-underline .nav-tabs>li>a.active,
.nav-underline .nav-pills>li>a.active {
  font-weight: bold
}
/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
  border: 0.2px solid black;
}

/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-item.active,
.dropdown-menu>li>a.active,
.dropdown-item:active,
.dropdown-menu>li>a:active {
  background-color: #f1f1f1;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}
/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #aaa;
  border-bottom: 0.3px solid gray;
  /*font-style: italic;*/
}
:focus {
  outline: none;
}

/*------------- end of the drop down ---------------------------*/

.dropdown-menu, .card, .info-box {
  box-shadow: 6px 6px 6px gray;
}
.info-box > * {
  font-size: 3.5vw;
  padding: 3%;
}
svg.bi {
  opacity: 20% !important;
}
div > .bi {
  height: 0.7em;
  width: 0.7em;
}

.main.bslib-gap-spacing.html-fill-container {
  box-shadow: inset 6px 6px 6px gray;
  margin-top: -1px;
}

div.tab-content:nth-child(2), .callout-block, .card,
.markdown-panel {
  border: 0.4px solid black;
  border-radius: 5px;
}

.callout-block {
  padding: 15px 15px 0px 15px;
}

.callout-block.app-note {
  padding: 5px;
  text-align: center;
}

.footer, .callout-block, .card-header {
  background-color: #f3f2f1;
}

.navbar, .card-header {
  border-bottom: 0.4px solid black;
}

.sidebar.my-sidebar {
  border-right: 0.4px solid black;
  margin-top: -1px;
}
/* checkbox & radio buttons have green background instead of blue generic yuck */
.form-check-input:checked,
.shiny-input-container .checkbox input:checked,
.shiny-input-container .checkbox-inline input:checked,
.shiny-input-container .radio input:checked,
.shiny-input-container .radio-inline input:checked {
  background-color:#005030;
  border-color:gray;
}


/* "active" is the hover quality, "selected"" is the chosen item */
.selectize-dropdown-content>div.option.active {
  background-color: #f1f1f1;
  border-bottom: 0.3px solid gray;
  font-style: italic;
  font-weight: bold;
  color: #333;
}
/* turning off -- weird quirk where keeps underline and bold if prev selected
.selectize-dropdown-content>div.option.selected {
  background-color: #fff;
  text-decoration: underline;
}
*/
.selectize-input.focus, .form-control:focus {
  border-color: black;
  box-shadow: 0 0 0 0.25rem rgba(170, 170, 170, 0.4);
}
.selectize-dropdown-content>.option:active {
  color: red;
  font-weight: bold;
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  color: black;
  padding: 12px 20px;
  border-top: 0.4px solid black;
}

.markdown-panel {
  padding: 5%;
  background-color: #f1f1f1;
}
