$um-orange: #f47321;
$um-green: #005030;
$shadow: #777777;
$um-color-fade: linear-gradient(to right, $um-orange, white, $um-green);
$my-shadow: 10px 10px 8px $shadow;
$bg-gray: #d3d3d3;

.modal {
  backdrop-filter: blur(5px);
  margin: auto;
}
.modal-content {
  margin-top: 30%;
  border-width: 0.15em;
  border-color: black;
}

.modal-header {
  background-color: $bg-gray;
  text-align: center;
  border-bottom-width: 0.1rem;
  border-bottom-color: black;
}

.modal-body {
  background-color: white;
  border-radius: 0.5px;
}

.modal-title {
  text-align: center;
  font-weight: bold;
  margin: auto;
}


h1.bslib-page-title {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-color: black;
  border-bottom: 0.25rem;
  border-bottom-color: $shadow;
  background-image: $um-color-fade;
  box-shadow: $my-shadow;
}

.sidebar {
  box-shadow: $my-shadow;
}


/* plot card header font */
h3 {
  font-size: 1.75rem;
  font-weight: bold;
}

/* plot card shadow box */
.g-col-md-6 {
  box-shadow: $my-shadow;
  border-radius: 0.5rem;
}





.left-box {
  background-image: linear-gradient(to bottom right, #f47321, white);
  height: 200px;
  box-shadow: $my-shadow;
  border-radius: 0.5rem;
}

.center-box {
  height: 200px;
  box-shadow: $my-shadow;
  border-radius: 0.5rem;
}

.right-box {
  background-image: linear-gradient(to bottom right, white, $um-green);
  height: 200px;
  box-shadow: $my-shadow;
  border-radius: 0.5rem;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  border-radius: 0.5rem;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 0.5rem;
}

/* Style the front side */
.flip-box-front {
  background-image: linear-gradient(to bottom right, $um-orange, white);
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-image: linear-gradient(to bottom right, $um-orange, white);
  color: black;
  transform: rotateY(180deg);
} 