$um-orange: #f47321;
$um-green: #005030;
$shadow: #777777;
$um-color-fade: linear-gradient(to right, $um-orange, white, $um-green);
$my-shadow: 6px 6px 6px $shadow;
$bg-gray: #d3d3d3;


/* Full app features */
* {
  font-family: Trebuchet MS;
}

/* This renders math expressions to be displayed inline with other text.
   It has a weird quality to drop down like a subscript without this. */
.MathJax_Display {
  margin: 0px !important;
}

/* ---------------- welcome modal -----------------------------------*/
.modal {
  backdrop-filter: blur(5px);
  margin: auto;


  .modal-content {
    margin-top: 30%;
    border-width: 0.15em;
    border-color: black;

    .modal-header {
      background-color: $bg-gray;
      text-align: center;
      border-bottom-width: 0.1rem;
      border-bottom-color: black;

      .modal-title {
        text-align: center;
        font-weight: bold;
        margin: auto;
      }

    }

    .modal-body {
      background-color: white;
      border-radius: 0.5px;
    }

    /* modal button border */
    .btn {
      border: 0.5px solid black !important;
    }
  }

}
/*------------------ end of modal -----------------------------------*/







/*--- This section controls the hover drop down for test selection- --*/

/* background property when statistic test is selected */
.nav-underline .nav-link.active,
.nav-underline :where(ul.nav.navbar-nav > li)>a.active,
.nav-underline .nav-tabs>li>a.active,
.nav-underline .nav-pills>li>a.active {
  font-weight: bold
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-item.active,
.dropdown-menu>li>a.active,
.dropdown-item:active,
.dropdown-menu>li>a:active {
  background-color: #f1f1f1;
  text-decoration: underline;
  color: black;
  font-weight: bold;
}

/* Change color of dropdown links on hover */
.dropdown-menu a:hover {
  background-color: #aaa;
  border-bottom: 0.3px solid gray;
  font-style: italic;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/*------------- end of the hover drop down ---------------------------*/


/* page title
h1.bslib-page-title {
.navbar .navbar-default .navbar-static-top {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: black;
  border: 0.1rem solid black !important;
  background-image: $um-color-fade;
  box-shadow: $my-shadow;
}
*/







.bslib-sidebar-layout {
  border-top-width: 0px;
  border-top-style: solid;
}

/* render a slight black border on the sidebar and add a shadow */
.main {
  border-left: 1.5px solid black;
  box-shadow: $my-shadow inset;
}

/* styling for hyperlinks */
.my-links {
  font-size: 16px !important;
  color: black;
}

/* signature div inside sidebar */
/*.sidebar-signature {*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  color: black;
}

.footer.project {
  font-size: 10px;
  position: fixed;
  right: 0;
  background: gray;
}


/* plot card styling */
.bslib-page-sidebar > .bslib-sidebar-layout:first-of-type > .main .bslib-card .card-header {
  font-size: 1.3rem;
  background-color: #d3d3d3;
}

@media (min-width: 768px) {
  .grid .g-col-md-6 {
    border: 1px solid black;
    box-shadow: 5px 5px 5px #777;
    border-radius: 0.5rem;
    min-height: "400px";
  }
}


/* bootstrap.min.css | http://127.0.0.1:6835/bootstrap-5.2.2/bootstrap.min.css */

.bg-primary {
  color: #fff;
}

.bg-primary {
  --bs-bg-opacity: 1;
}



/* data card styling */
.left-box {
  background-image: linear-gradient(to bottom right, $um-orange, white) !important;
  color: black !important;
}

.center-box {
  background-color: white !important;
  color: black!important;
}

.right-box {
  background-image: linear-gradient(to bottom right, white, $um-green) !important;
  color: black !important;
}

.left-box, .center-box, .right-box {
  height: 150px;
  margin-bottom: 0px !important;
}

/* https://www.w3schools.com/howto/howto_css_flip_card.asp
The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  height: 150px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.75s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border: 1px solid black;
  border-radius: 0.5rem;
  color: black;
  box-shadow: 5px 5px 5px #777;
}

/* Style the front side */
.flip-box-front {
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 5px #777;
}

#sampleCardBack {
  font-size: 16px;
}


/* style for the bottom right (green) card */
div.g-col-sm-1:nth-child(3) {
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 150px;
  box-shadow: 5px 5px 5px #777;
}

#sampleResult {
  font-size: 18px;
  font-weight: bold;
}

